%header{'class' => 'container-fluid text-center'}
    %nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                %button.navbar-toggle{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '#myNavbar'}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                %a.navbar-brand{'href' => '#'} Logo
            #myNavbar.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar
                    %li=link_to t('.nav_home'), home_path
                    %li=link_to t('.nav_contact'), contact_path
                %ul.nav.navbar-nav.navbar-right
                    %li
                        %li=link_to t('.nav_login')
    
    %h1= t('.title')