
.container-fluid.text-center
    %img{:alt => "", :src => "/assets/logo.png", id: 'logo'}
    %h1= t('.welcome')
    %hr

    %img{:alt => "", :src => "/assets/workout_log.png"}
    %img{:alt => "", :src => "/assets/workout_details.png"}

    #home.h4.fas.fa-running= t('.record_workouts')

    %hr

    %img{:alt => "", :src => "/assets/weight_log.png"}
    %img{:alt => "", :src => "/assets/weight_graph.png"}

    #home.h4.fas.fa-weight= t('.track_weight')

    %hr

    %img{:alt => "", :src => "/assets/summary.png"}

    %br

    #home.h4.fas.fa-fire-alt= t('.stay_motivated')

    %hr
     