%h2 Listing weights

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Date
      %th Weight
      %th

  %tbody
    - @weights.reverse_each do |weight|
      %tr
        %td= weight.date
        %td= weight.weight
        %td= link_to 'Details', weight

%br

= link_to 'Add New Weight', new_weight_path
