$blue: #3a69c0;
$red: #a01818;
/* Makes all flash messages blue */
#notice {
  color: $blue;
}

/* Styles how fields look when errors occur */
.field_with_errors {
  padding: 3px;
  background-color: $red;
  display: table;
  border-radius: 1px;
}

/* Styles error explanation */
#error_explanation {
  width: 450px;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color:  #f0f0f0;
  border-radius: 25px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: $red;
    color: #f0f0f0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

  }

  /* Styles words in error explanation */
  ul li {
    font-size: 12px;
    list-style: square;
  }
}