// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styles headings of workouts table */
.heading a:link,
.heading a:visited{
color: white;
}